<% if (page.comments){ %>
  <div class="comment-container">
    <div class="post" id="gitment-container">
      <noscript>Please enable JavaScript to view the <a href="//disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/gh/theme-next/theme-next-gitment@1/gitment.browser.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/theme-next/theme-next-gitment@1/default.css"/>
  
  <script>
      var gitment = new Gitment({
        //评论issue唯一ID
        id: '<%= page.date.format("YYYYMMDDHHmm") %>',
        owner: 'yajw',
        repo: 'yajw.github.io',
        oauth: {
          client_id: '22cdf46e2d6ccbe19c49',
          client_secret: '7f84c5f9859178e872a55beea8705470b1b304ff',
        },
      })
      gitment.render('gitment-container')
  </script>
<% } %>